extends layout

block content
  div(class="container-fluid")
  h1= title
  -var out= results 
  div(class="row m-1")
    each value in out
      - let destination = `dispatch(\"/inks/update?id=${value._id}\")`
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{value.color}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{value.company}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{value.price}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
     
      function dispatch(path)
      {
        window.location.href=path
      }
  
    
